:root {
    --menu-background-color: #f16675;
}
/*
Nav
------------- */
#navWrap { background-color:  #f9f4f4; box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.1);}
.navbar { max-width: 980px; margin: 0 auto;}
#navbarMenu { max-width: 980px; margin: 0 auto; font-family: 'RobotoLight', Arial, sans-serif;}
#navbarMenu i {color: #fff; background: var(--menu-background-color,#09375b); border-radius: 20px; padding: 7px;}
#navbarMenu a { color: #363636; }