@charset "UTF-8";

/*
    Victor
    Decembre 2018
    -------------------------------------------
*/


@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url('Roboto-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoCondensedBold";
    src: url('RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





a           {color:#2196f3; cursor:pointer; }
a:link      {color:#2196f3}
a:visited   {color:#78B3FF}
dt a:visited{color:#21252B}
a:hover     {color:#673ab7}
a:active    {color:#ccc}
pre         {overflow: scroll; margin: 1rem 4%; padding: 2rem; color: rgb(254, 255, 202); background: #333; font: normal 1rem Monaco, "Courier new", console;}


/*
 *  Structure
 * ------------ */

html    { background: #fff; }
body    { min-height: 100% ;/* ! */ ;  /*padding: 20px 4%;*/  font-family: Arial, sans-serif; }
@media screen and (max-width: 980px)
{
  body { padding: 0 20px }
}

/*
 Main & container
 ------------------*/
#main    { background: #fff; margin: 15px 0 0;}
#main .container { max-width: 1024px; margin: 0 auto 20px; padding: 0;  }
#main .container.wide { max-width: 1344px; margin: 0 auto 20px; padding: 0;  }
#main .container.fulld3 { padding: 0 0 40px; }
#main .container.testeurs { background: hsla(48, 100%, 67%, 0.2); border-left: 8px solid hsla(48, 100%, 67%, 0.8); padding: 1rem 2rem; box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.2); }
#main .container h1.title { padding: 2rem 0 1rem; }
#main .container h1.title.show { padding: 0.2rem; }

/*
 Section
 ----------*/
.section { padding:0 ; background: #fff ; margin: 5px 0 0; /*box-shadow: 3px 1px 6px 2px hsla(0, 0%, 0%, 0.2);*/}

 /* .section,
 .section.has-background-light { background: linear-gradient(white, #f7f7f7); } */

.pasData { padding: 80px 0; display: block; }



/*
Logo
----------*/
.navbar-item img { max-height: 55px; }

/*
  Couleurs
------------- */
.vert, .services { color: rgb(44, 160, 101); }
.bleu, .travaux { color: rgb(93, 164, 214) }
.orange, .fournitures { color: rgb(253, 177, 88) }
body .has-total-bg { background: #ddd; color: #666;  }
body .has-services-bg { background: rgb(44, 160, 101); color: #fff; }
body .has-travaux-bg { background: rgb(93, 164, 214); color: #fff;  }
body .has-travaux-bg-light { background: rgba(93, 164, 214,.2); color: #32709c; }
body .has-fournitures-bg { background: rgb(253, 177, 88); color: #222;  }

/* grouper les legendes faites avec des tags */
.tagLegend { border: 1px solid #eee; background: #f1f1f1; padding: .4rem 0 0 }

/* Centre les tags */
.tagsBlock .tags { display: block; margin: 0 auto;  }

/*
  Fonts
------------- */
h1, h2, h3, h4, h5, h6, p, dt, dd, dl { padding: .5rem 0; margin: 1rem 0; }
h1, h2, h3, h4, h5, h6 { font-family: 'RobotoLight', Arial, sans-serif; }
h1.title span { color: #aaa; }
/* p, ul, li, dt, dd, dl { font-family: 'Roboto';} */
h2.is-title {padding-top: 1.5rem;}
h2.subtitle { color: #7a7a7a; font-size : 1.2rem;  }
h3 { font-size: 1.7rem; font-family: "RobotoCondensedBold"; padding: 1.2rem 0 0rem; margin: 3rem 0 0; border-top: 6px solid #ffdd57; display: inline-block; line-height: 120%; }
h3.simple { border-bottom: none; text-align: center; margin: 0.2rem 0; padding: 0.2rem 0; font-family: "Roboto"; font-size: 1.1rem; border-top: none; text-transform: uppercase;}
#acheteurs h3, #titulaires h3 { border: none; }
h4 { border-bottom: none; text-align: center; margin: 0.2rem 0; padding: 0.2rem 0; font-family: "Roboto"; font-size: 1.0rem; border-top: none; text-transform: uppercase;}
h4 { font-family: 'Roboto'; }
ul { list-style: disc; }
ul, li { padding: .5rem 0; margin: .25rem 0; }
li { list-style-position: inside; }
ul.inP {margin: -10px 0 0 0; padding: 0 0 0 50px; border-left: 3px solid #d6d6d6; background: #eee;}
.quiListe { text-align: center ; }
.quiListe .is-light { width: 220px; display: inline-block; }
@media screen and (min-width: 768px)
{
  .quiListe { text-align: right; }
  .quiListe .is-light { width: auto; }
}

/*
  logo
------------- */
#logoW { background: #300a2b; font-size: .9rem; height: 1.5rem;
  font-family: "Roboto"; padding: 10px; text-transform: uppercase;
  text-align: center; margin: 0; position: fixed; width: 100%; z-index: 10000;
  box-shadow: 0 0 12px #300a2b; top: 0; overflow: hidden; }
#menu { max-width: 780px; margin: 0 auto; position: relative; text-align: center;}
#print { text-align: right; position: absolute; right: 0; display: none;
    background: #d04343; color: #fff; text-transform: none;
    padding: 3px 6px; border-radius: 3px; border: 1px solid #ea8e8e;
}
#logoW p { padding: 0; margin: 0; }
#logo { color: #fff; text-transform: uppercase; line-height: 1.8rem;     font-size: 1rem; font-family: 'Noto Sans';}
#logoW a { text-decoration: none; }
#apropos {float: right; text-transform: none; }
#baseline { font-size: .9rem; }

/*
Bandeau home
----------------*/
#bandeauHome { position: relative; }
#bandeauHome img { max-width: 100%; }
#bandeauHome h1 { text-align: center; bottom: 20px; font-size: 2.75rem; color: #fff; margin: -90px auto 0; }
@media and screen(min-width: 1024px)
{
  #bandeauHome h1 { margin: -90px auto 50px; }
}

/*
h1Fixe
----------------*/


#h1Fixe {  position: static; background: transparent; color: inherit; width: 100%;
  transition-property: width height  font-size left top color; transition-duration: .3s; transition-timing-function: ease; }
#h1Fixe.show { background: #151b29; color: #eee; position: fixed; top: -33px;
  left: 0; font-size: 1rem; padding: .2rem ; text-align: center;
  transition-property: width height  font-size left top color;
  transition-duration: .3s; transition-timing-function: ease;
  z-index: 1000; font-family: Arial; }
#h1Fixe.show span { display: none; }


/*
Stats Home
-------------------*/
#statsHome {
  display: none;
  position: absolute;
  /*top: 20px;*/
  width: 100%; }
@media screen and (min-width: 768px)
{
  #statsHome { display: block; }
}

/*
Mise à jour -dates
-------------------*/
#dates { margin-top: 30px; }
#dates .tags:not(:last-child) { margin-bottom: 0; }
#accueil #dates { margin-top: 0; line-height: 1.6}
/* #accueil #dates .tag:not(body) { font-size: 1.2rem; } */
#dates .tags { display:block; }

/*
box
-------------------*/
.box { border-radius: 0; box-shadow: none; }
.under-warning { border-bottom: 3px solid #ffdd57}

/*
 Tags
--------------*/
html .tags.has-addons .tag-org,
html .tags.has-addons .tag-nb,
html .tags.has-addons .tag-montant { display: inline-block; }
html .tags.has-addons .tag-org { width : 50% }
html .tags.has-addons .tag-nb { width : 25%; text-align: center; background: #23d16029;}
html .tags.has-addons .tag-montant { width : 25%; text-align: center; }


/*
Footer
----------------*/
#footerWrap { width: 100%; background: #151b29; color: hsla(0, 100%, 100%, 0.8); }
#footer { max-width: 980px; margin: 0 auto; overflow: hidden; padding: 40px 60px; transition: opacity; transition-duration: .8s; transition-timing-function: ease; margin-top: 40px; }
#footer.show { background: #151b29; color: #c4d4e4; opacity: 1;}
#footerLogo {text-align: center; text-transform: uppercase; font-size: 40px; margin-bottom: 40px; max-width: 160px}
#footer h3 { color: hsla(48, 100%, 67%, 0.9); border-top: none; font-weight: normal; }
#footer p { line-height: 150%;}


/*
Acheteurs
------------- */
#listeAcheteurs { padding: 0 2rem; column-rule: 1px solid #eee }
#listeAcheteurs h3 { margin: 1rem 0 .6rem; padding: 0; }
#listeAcheteurs div { margin: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid; break-inside: avoid; break-inside: avoid-column; }
#listeAcheteurs div:first-of-type h3:first-of-type { margin-top: 0; }
@media screen and (min-width: 640px)
{
  #listeAcheteurs { columns : 2  }
}
@media screen and (min-width: 980px)
{
  #listeAcheteurs { columns : 3  }
}
#acheteurs table a,
#titulaires table a { text-decoration: underline; }
#enChargeFlask { display: none; text-align: center; padding-bottom: 2rem; font-size: 1.6rem; }


#mapa { margin: 20px auto 40px; box-shadow: 1px 1px 10px #aaa; width: 100%; height: 350px; }


/*
Nav
------------- */
/* .navbar { box-shadow: 0 3px 3px #ececec; } */
#navWrap { background-color:  #f9f4f4; box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.1);}
.navbar { max-width: 980px; margin: 0 auto;}
#navbarMenu { max-width: 980px; margin: 0 auto;margin-left: 25px; font-family: 'RobotoLight', Arial, sans-serif;}
#navbarMenu i {color: #fff; background: #09375b; border-radius: 20px; padding: 7px;}
#navbarMenu a { color: #363636; }

/*
  recherche
------------- */
input, select, textarea { color: #5c6873; background-color: #fff; background-clip: padding-box; font-size: 1rem;}
input,
select { height: 2.5rem; padding: .3rem 10px; line-height: 1.25; }

/* formulaire de recherche */
#rechercheTempChart {margin: 20px 0 0;}
#rechercheForm { padding: 20px; background: #f1f1f1; /*border: 1px solid #cfcfcf;   */  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); }
#rechercheForm label { color: #444; padding: .3rem 0 .3rem 2px; display: inline-block;}
#rechercheForm input, #rechercheForm select { border: 1px solid #d8d8d878;  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);   }
#rechercheForm input,
#rechercheForm select { width: 100%;  }
#rechercheForm p { padding: 0; }
#rechercheBouton { height: 2.5rem; font-size: 1.2em; font-weight: 300; font-family: 'Roboto'; text-transform: uppercase; }
#spinnerRecherche { display: inline-block; width: 25px; height:25px; opacity: 0; }
#rechercheOptionsWrapper span { cursor: pointer; }
#rechercheOptionsWrapper span.is-white { /*border: 1px solid #ddd; */ box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);}

/* select ajax pour acheteurs et titulaires */
.ajaxContainer { position: relative; }
.ajaxContainer span { position: absolute; z-index: 200; top: 6rem; left: 0; width: 100%; padding: 0; height: 150px; max-width: 300px; border: 1px solid #ddd; background: #fff; overflow:scroll; display: none; font-size: .9rem; box-shadow: 0 0 2px #313131; overflow-x: hidden;}
.ajaxContainer span ul { padding: 0; margin: 0; }
.ajaxContainer span li { list-style-type: none; padding: .5rem 1rem; margin: 0; font-size: 1rem;}
.ajaxContainer span li:hover { color: #fff; background: #025aa5; cursor: pointer; }



/* index
~~~~~~~~~~~~~~~~~~ */
#aideCPVLieux { display: none; }


/* recherche
~~~~~~~~~~~~~~~~~~ */
#rechercheSansResultats { display: none; }
#rechercheResultats { margin-top: 40px; display: none;}
#rechercheTemp { padding: 40px 0; }
#rechercheTempAide { display: block; margin: auto 0 auto auto; }
#rechercheTempContenu { display: none; }


/* Natures
~~~~~~~~~~~~~~~~~~ */
.natures { margin: 10px 0 0 0; padding: 7px 0 10px; }
.natures li { list-style-type: none; font-size: 1rem; color: #333; padding: 0;
  margin: 0; }
.natures li span { text-transform: uppercase; font-size: .8rem; color: #389ac3;
  display: inline-block; width: 40%; padding: 0 10px 0 0; text-align:right; }


/* KPIs
~~~~~~~~~~~~~~~~~~ */
.kpis.columns { display: flex; flex-wrap: wrap; }
.kpis {  margin: 20px auto 50px;  background: #fff; text-align: left; }
.kpis div { border-left: 3px solid #f6f9fe; text-align: center ;  }
.kpis div:first-child { border-left: none ; }
.kpi i, .kpi span, .kpi b { display: block; }
.kpi i { padding: 10px 0 10px; }
.kpi i.pb10 { padding-bottom: 10px; }

.kpi span { padding: 10px 0; text-transform: uppercase; font-size: .9rem; font-family: "RobotoLight"; font-weight: 400; }
.kpi b { padding: 10px 0; font-size: 1.1rem; }
@media screen and (min-width: 768px){.kpi b { font-size: 1.5rem; } }
#kpi-niveau-vie {text-decoration: none; color: #999; font-size: .9rem}


/* datatables
~~~~~~~~~~~~~~~~~~ */
#tableUI { width: 100%; margin-top: 10px; font-size: .9rem; }
#titreTableUI { margin-top: 50px;  }
#tableUI_wrapper input,
#tableUI_wrapper select  { height: auto; }
/* #tableUI_wrapper { background: #f5f5f5; padding: 20px 10px 0; border: 1px solid #ccc; } */
.page-item.active .page-link, .pagination-datatables li.active .page-link, .pagination li.active .page-link, .page-item.active .pagination-datatables li a, .pagination-datatables li .page-item.active a, .pagination-datatables li.active a, .page-item.active .pagination li a, .pagination li .page-item.active a, .pagination li.active a { z-index: 2;  color: #fff; background-color: #32373e; border-color: #32373e; }
.page-item.disabled .page-link, .pagination-datatables li.disabled .page-link, .pagination li.disabled .page-link, .page-item.disabled .pagination-datatables li a, .pagination-datatables li .page-item.disabled a, .pagination-datatables li.disabled a, .page-item.disabled .pagination li a, .pagination li .page-item.disabled a, .pagination li.disabled a { color: #536c79; pointer-events: none;background-color: #fff;  border-color: #ddd; }
div.dataTables_wrapper div.dataTables_filter { text-align:right; float: right; }
table.table-bordered.dataTable th { background: #515d6d; font-family: Roboto; font-weight: 300; text-transform: uppercase; color:hsla(0, 0%, 100%, 1); font-size: .9rem; }
.wrapper {font-size: 1rem; font-family: arial, sans-serif;}
.dataTables_paginate a { position: relative; display: inline-block; padding: 0.5rem 0.75rem; margin-left: -1px; line-height: 1.25; color: #fff; /*background-color: #515D6D; *//* background-color: #2196f3;*/ /*background-color: #ff5722;*/ /*border: 1px solid #ccc;*/ box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2); cursor: pointer; background: #f1f1f1; color: #515d6d;}
.dataTables_paginate a.current {background-color:  #ffdd57; color: #32373e;}
div.dataTables_wrapper div.dataTables_filter input,
div.dataTables_wrapper div.dataTables_filter select
 { border: 1px solid #515d6d47;  padding: 5px 10px; }
#tableUI_wrapper select { border: 1px solid #515d6d47;  }
.table th,
.table td { padding: 0.75rem; vertical-align: top; border-top: 1px solid #32373e; }
.table thead th { vertical-align: bottom; border-bottom: 1px solid #ccc; }
/* .table tbody + tbody { border-top: 2px solid #ccc; } */
.table .table { background-color: #e4e5e6; }
.table-sm th,.table-sm td { padding: 0.3rem; }
.table-bordered { /*border: 1px solid #ccc;*/ box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2) }
.table-bordered th /*,
.table-bordered td */{ border: 1px solid #ccc; }
.thead-default th { color: #3e515b; background-color: #c2cfd6; }
.table-inverse { color: #e4e5e6; background-color: #151b1e; }
.table-inverse th,
.table-inverse td,
.table-inverse thead th { border-color: #252f35; }
.table-inverse.table-bordered { border: 0; }
.table-inverse.table-striped tbody tr:nth-of-type(odd) { background-color: rgba(255, 255, 255, 0.05); }
.table-inverse.table-hover tbody tr:hover { background-color: rgba(255, 255, 255, 0.075); }
/* .table .even {background: #ffffdd; } */
.table .even { background: #F1F1F1; }

.dataTables_info {margin: 20px 0 0;  }
.dataTables_info,
#tableUI_length,
#tableUI_filter,
#tableUI_paginate {color: #515D6D99; font-size: .9rem;}

.dataTables_paginate { }
.dataTables_paginate li { display: inline-block; list-style: none; }
.form-control {border: 1px solid #ccc}
.dataTables_paginate { text-align: right;   margin: -20px 0 0px;}
/* datatables sorting */
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled { cursor:pointer; *cursor:hand; background-repeat:no-repeat;
 background-position:center right }
table.dataTable thead .sorting { background-image:url("../assets/datatables/images/sort_both.png")}
table.dataTable thead .sorting_asc {background-image:url("../assets/datatables/images/sort_asc.png")}
table.dataTable thead .sorting_desc { background-image:url("../assets/datatables/images/sort_desc.png")}
table.dataTable thead .sorting_asc_disabled { background-image:url("../assets/datatables/images/sort_asc_disabled.png")}
table.dataTable thead .sorting_desc_disabled { background-image:url("../assets/datatables/images/sort_desc_disabled.png")}
.table td, .table th { border-top: 1px solid #e8e8e8; }

.voir-annuaire { text-decoration: none; }
.button.voir-annuaire { background-color: #ffdd57;}
.button.voir-annuaire:hover { background-color: #444b54; border-color: transparent; color: #fff; }

/* groupe de boutons */
.dt-buttons {margin: 0 auto 20px;}
#tableUI_length { margin: 0 auto 20px; }

#tableUI span { display: block; color: #959595; font-size: 1rem; font-weight: 300;
    font-family: 'Roboto'; letter-spacing: 1px; padding-bottom: 0.2rem; }

#tableUI span.date { font-size: .8rem;  }

/* pagination à droite */
#rechercheResultats .pagination {
    justify-content: flex-end;
}

#rechercheW { /*background: *//*#F44336*/ /*#fff9c4 url('../img/recherche.png');*/ padding-bottom: 2rem; margin-top: 2.5rem; }
#recherche { position: relative; line-height: 100%; z-index: 100 ; }
#recherche p,
#modalMessage p  { margin: 0; /*text-align: center;*/ }
#barreRecherche {padding:7px 2%; width: 96%; font-size: .9rem;
  border: 1px solid #b71c1c; }

#resultatsRecherche {position: absolute; top: 68px;
  margin: -15px 0 0px; border: 1px solid #ccc; border-top: none;
  padding:5px 10px; width: calc(91% - 15px); display: none;
  max-height: 200px; overflow-y: scroll; background: #fff;z-index: 1000; text-align: left; }
#resultatsRecherche p { padding: 5px 5px}
#resultatsRecherche p:hover { cursor: pointer; background: #05f; color: white; }
small {font-size: .8rem}
#nbResultats { font: normal 0.8rem Arial, sans-serif; color: #fff; padding-left: 5px;}
#nbResultats::before, #nbResultats::after { content: none; }
#comment, .marqueur { background: rgba(255, 255, 0, 0.8); }
#resultatsRecherche #pasResultats:hover {background: #fff; cursor: default;}
#aideRecherche { display: none; padding-bottom: 40px; }
#rechercheOptionsWrapper { padding: 0 0 10px 0; margin: 0 0 5px 0; }
#rechercheOptionsWrapper button { cursor: pointer; }
#rechercheOptions { display: none; }
/*
Marche modal
------------- */
.modalH2 { padding: 5px 0 10px; margin: 0 auto 10px; font-size: 1.2rem; color: #515d6d; }
/* #modalMarche .modal-card { border: 8px solid #aa9583; } */
#enCharge, #enChargeMarche { text-align: center; font-size: 1.2rem; }
#details-1 { background: #515d6d; color: hsla(0, 0%, 100%, 0.9); }
#details-1 p { font-family : 'RobotoCondensedBold'}
.plus-acheteur, .plus-titulaire, .plus-cpv { cursor: pointer; }
#m_id {display: none;}
#m-montant {font-size: 2.3rem;}
#m_identification {display: block;}
#m_wrap_cpv {
    border-top: 1px solid hsla(214, 15%, 37%, 0.1);
    border-bottom: 1px solid hsla(214, 15%, 37%, 0.1);
    padding-bottom: 10px;
}
#m_acheteur, #m_titulaire { display: block; margin: 0 0 5px;}

.siret { color: hsla(214, 15%, 37%, 0.6); font-size: .9rem; }
#modalMessage h4,
#modalMessageMarche h4 { padding: 0; margin: 20px 0 0;
    text-transform: uppercase; color: hsla(214, 15%, 37%, 0.6);
    font-size: .9rem;text-align: left;
  }
#modalMessage #details-1 h4,
#modalMessageMarche #details-1 h4 { color: hsla(0, 0%, 100%, 0.6); text-align: left;}
#modalMessageLogo { margin: -10px 0 -20px; padding: 0; color: #515D6D; }
#ferme-marche { display: block; margin: 3px auto;}
/* #modalMessage span#m_cpv_code { border-color: #aa9583; background: #fff; color: #515D6D;} */
#modalMessage span#m_cpv_code:hover {background: #515D6D; color: #fff;}
/* #modalMessage span.tag {background: #aa9583; color: #fff; } */
#modalMessage span.link a { font-size: .8rem; text-decoration: underline; }
/* #modalMessage #m_wrap_cpv span.tag { background: #fff; } */
#modalMessage span.tag:hover {opacity: .8}
#modalMessage span.tag:hover {background: #515D6D; }
#modalMessage span.tag.is-btn-a {background: #ffdd57; }
#modalMessage span.tag.is-btn-a a { color: #515D6D; }
#modalMessage span.tag.is-btn-a:hover {background: #515D6D; color: #fff;}
.modal-background { background-color: hsla(48, 100%, 67%, 0.8); }
.modal-card { box-shadow: 0 9px 6px 0 hsla(0, 0%, 0%, 0.2); }
.modal-card-head { border-radius: 0;}
.modal-card-title {
    color: hsla(214, 15%, 37%, 0.9);
    font-size: 1.2rem;
    font-family: Roboto;
    padding-top: 10px;
}
.modal-card-foot, .modal-card-head { padding: 3px 20px; background-color: #fff; }


.clair { color: #959595; }
.roboto { font-family: 'Roboto'; }
.xxxl { font-size: 5rem;  }
.xxl { font-size: 4rem;  }
.xl { font-size: 3rem;  }
.l { font-size: 1.6rem;  }
.m { font-size: 1.2rem;  }
.s { font-size: 1rem;  }
.xs { font-size: .8rem;  }


#ete { border-left: 15px solid #FDD49E }
#ere { border-left: 15px solid #FDBB84 }
#ein { border-left: 15px solid #FC8D59 }
#eic { border-left: 15px solid #E34A33 }
#eag { border-left: 15px solid #B30000 }
#gte { border-left: 15px solid #D0D1E6 }
#gre { border-left: 15px solid #A6BDDB }
#gin { border-left: 15px solid #74A9CF }
#gic { border-left: 15px solid #2B8CBE }
#gag { border-left: 15px solid #045A8D }


/*
responsive
-------------
< 840 : preparer tablette

640 x 360

360 x 640
vert #4CAF50
*/
@media screen and (min-width: 640px)
{
  .home { color: #fff; }
  h1 {  }
  h2 {   }
  h3 { }
  #consoTotaleBig h3 {margin: 0 ; padding: 0 ;  }

  #barreRecherche { font-size: 1.2rem; }


}

/* ////////////////////////////////// */

@media screen and (min-width: 840px)
{
  .home { margin-bottom: 0; }
  h1   { }
  h2 { margin-top: 3rem; }

  /* recherche */
  #barreRecherche {padding:7px 2%; width: 700px; font-size: 1.2rem;
    border: 1px solid #3f51b5;
  }

  #resultatsRecherche { top: 68px; margin: 0 auto; width: 710px; }

}

  /* svg
  ~~~~~~~~~~~~~~~ */
  .node rect { cursor: move; fill-opacity: .9; shape-rendering: crispEdges;}
  .node text { pointer-events: none; /*text-shadow: 0 1px 0 #000;*/ font-family: Arial, sans-serif; font-size: 1rem; }
  @media screen and (max-width: 780px) {.node text {font-size: 1.1rem}}
  @media screen and (max-width: 640px) {.node text {font-size: 1.2rem}}

  .link { fill: none; stroke-opacity: .7; }
  .link:hover { stroke-opacity: 1; }

  /* svg responsive
  ~~~~~~~~~~~~~~~~~~~
  https://stackoverflow.com/questions/16265123/resize-svg-when-window-is-resized-in-d3-js */
  .svg-container { display: inline-block; position: relative;  z-index: 100 ; width: 100%;/* max-width: 780px;*/ /* mais non ! */ padding-bottom: 100%; /* aspect ratio */ vertical-align: top; overflow: hidden; z-index: 10; }
  .svg-container-stream { display: inline-block; position: relative;  z-index: 100 ; width: 100%; max-width: 780px; /* mais non ! */ padding-bottom: 0%; /* aspect ratio */ vertical-align: top; overflow: hidden; z-index: 10; }

  .svg-content-responsive { display: inline-block; position: absolute; top: 10px; left: 0;}

  /* buttons
  ~~~~~~~~~~~~~~~*/
  button { border: none; padding: 5px 10px; background: transparent; cursor: pointer; font-size: 1.1rem; border: 1px solid #5d626b; color: #5d626b;}
  button.activo { background: #ffffff; color: #21252b;}
  #types {max-width: 98%; margin: 0 1% 10px; text-transform: uppercase; /*border-bottom: 1px solid #414650;*/ color: #5d626b; /*background: #252931;*/ padding: 2px 10px; text-shadow: 0 1px 0 #1c1f25; }
  @media screen and (max-width: 780px) { #types {font-size: 0.8rem; } }
  #boutons { text-align: center; padding: 0px 0 10px; /* background: #252931; */ max-width: 98%; margin: 0;}



  /* utilidades
  ~~~~~~~~~~~~~~~ */
  ul.tab-container{ margin: 0px; padding: 0px; list-style: none;  }
  ul.tab-container li{ background:  #ededed; color: #222; display: inline-block; padding: 10px 15px; cursor: pointer; border: 1px solid #ddd; border-bottom: none; margin-bottom: -1px}
  ul.tab-container li.current{ background: #fff; color: #222; }
  .tab-content{ display: none; border: 1px solid #ddd; padding-top: 40px; visibility: hidden; opacity: 0; transition: opacity 1s linear; background: #fff;  }
  .tab-content.current{ display: block; opacity: 1; visibility: visible; transition: opacity 1s linear }

  @media screen and (max-width: 780px)
  {
    ul.tab-container li { font-size: .9rem; padding: 10px 5px; }
  }

  /* utilidades
  ~~~~~~~~~~~~~~~ */
  .is-center-block { margin: 0 auto; display: block; }
  .fright { display: block; float: right; }
  .noBg { background: transparent;}
  .mb0 { margin-bottom: 0;}
  .mb40 { margin-bottom: 40px;}
  .mt40 { margin-top: 40px;}
  .center {text-align: center;}
  .upper {text-transform: uppercase;}
  .spacing { letter-spacing: 1px; }
  .ligneBlue { color: blue; }
  .is-size-9 {font-size: .9rem;}
  /* .is-link-bg { background: #f6f9fe; border-color: #a3c6fd; } */
  .is-link-bg { background: #f6f9fe; border: none; box-shadow: 0 1px 2px #a3c6fd; }
  .is-link-bg:hover { background: #cbdfff; }
  .sequence .tags .is-table { background: #444b54; color: #fff;}
  .has-text-blue-light { color: #79d3f8 !important; }
  .has-bg-blue-light { background: #79d3f8 !important; color: #fff}
  .tags-xl .tag:not(body) { font-size: 1rem; margin-bottom: 0; padding-right: 0; }
  .tags-xl .tag:not(body) b { padding-right: 0.75rem; }
  .is-border { background: #f5f5f5; border: 1px solid #ccc; }
  .pb-20 { padding-bottom: 20px; }
  .pb-40 { padding-bottom: 40px; }
  #modalMessage p.mt-15,
  mt-15 { margin-top: 15px; }
  .has-top-border-padding { border-top: 1px solid #eee; margin: 20px 0 0; }

  /* Aide
  -----------*/
  .aide .message .message-title { text-transform: uppercase; font-weight: bold; font-family: 'Roboto'; font-size: 1.1rem; text-align: center; line-height: 140%; border-bottom: 1px solid #d7e7ff; margin-bottom: 20px; }
  #aideNature { display: none; }
  #aideProcedure { display: none; }

  /* mini charts
  ------------------*/
  @media screen and (min-width: 1015px)
  {
    .sequence h4 { text-align: center;}
  }
  .sequence h4 { margin: 0 ; }
  .tag:not(body).is-blue-title { background: #d9f4ff; color: #1f85b0; }
  .tag:not(body).is-blue-value { background: #515D6D; color: #fff; }
  .tag:not(body).is-blue-value2 { background: #1f85b0; color: #fff; }

  /* SIRENE
  ----------------*/
  #mapVertical { width: 100%; height: 350px; box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);}
  #sirene {/* background: #515d6d; background: #fff; */margin: 1rem 0; }
  #sirene li { padding: 0; list-style: none; font-size: .9rem; }

  #sirene ul { padding: 0; }
  #sirene h4 { padding: .5rem 0 ; margin: 1rem 0 0; color: #ffe068;}
  #sirene h4.second { margin: 1.5rem 0 0.5rem;}
  .sireneLabels h4 {color: #ffe068; text-align: right; }
  .sireneLabels {color: #f5f5f5; box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);}
  .sireneValues h4 {color: #f5f5f5;}
  .sireneValues {background: #f5f5f5; box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2); border-left: 2px solid #444e5a;}
  /* .has-map { background: #495360;} */
  .doubleLigne { min-height: 40px;}

  .sireneInfos { font-size: .9rem;  box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.3);}
  .sireneInfos:nth-child(2) { margin-top: 20px; }
  #sirene th, #sirene td { padding: .5rem .4rem; font-size: .9rem;}
  .sireneInfos tr td:first-child,
  .sireneInfos thead th:first-child { color: #f5f5f5; background: #515d6d; }
  .sireneInfos thead th:last-child { margin: .5rem 0 0; color: #ffe068; text-align: center; font-weight: normal;
    text-transform: uppercase; padding: 1rem 0 0.2rem;}
  .sireneInfos tr td:first-child {text-align: right; background: #495360;}
  .sireneInfos tr:nth-child(even) td:last-child { color: #515d6d; background: #fff; }
  .sireneInfos tr td:last-child {  background: #f5f5f5; color: #515d6d; }

  /* surcharge */
  #sirene .tabs ul { border-bottom: none; margin-top: 0}
  .tabs:not(:last-child) { margin: 0; }
  .table tr:first-child td { border-top: none}
  .table i { color:#999; font-size: .8rem; font-style: normal }
  #sirene .table tr td:nth-child(1),
  #sirene .table tr td:nth-child(3) {text-transform: uppercase; font-size: .8rem; color: #515d6d;}
  #sirene #infogreffeTable.table td:nth-child(2),
  #sirene #infogreffeTable.table td:nth-child(3),
  #sirene #infogreffeTable.table td:nth-child(4)
   {color: #333; text-transform: none; text-align: right; font-size: .9rem;}

  /* override
  ~~~~~~~~~~~~~~~ */
  .has-text-info {color: #515D6D; }

  .button.is-info { background-color: #515D6D;}
  /* button "voir" */
  td .button.is-info { background-color: #ffdd57; color: #444b54; }

  /* button secondaire */
  .button.is-second { background-color: #f1f1f1; border: none;
    box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2); color: #515d6d; }

  .is-success a:link,
  .is-success a:visited,
  .is-success a:hover,
  .is-success a:active  { color: #fff;}

  .button.is-info.is-hovered, .button.is-info:hover { background-color: #444b54; border-color: transparent; color: #fff; }

  .message.is-link .message-body { border-color: #a3c6fd; border-width: 0 0 0 1px; line-height: 120%; }

  .title { font-weight: 300; }

  .tag:not(body).is-info { background-color: #515d6d; color: #fff; }

  @media screen and (min-width:769px),print
  {
    .modal-card, .modal-content { width: 80%; }
     .mini-fiche-marche .modal-card,  .mini-fiche-marche .modal-content { max-width: 880px; }
  }
  .title:not(:last-child) {  margin-bottom: 0; padding-bottom: 0 ; margin-top: 2rem;}

  #phraseHome { list-style: none; margin: 0; border: 4px solid rgba(255, 253, 0, 0.7);
    padding: 8px 14px; border-radius: 10px; display: inline-block; background: rgba(124, 162, 206, 0.7); color: #fff; }


/* Tabs
----------------------------*/
#tabs { width: 100%; height: 40px; padding: 0; }
#tabs li { float:left; list-style:none; border: 1px solid #ccc; border-bottom: none;
    margin-right:5px; margin-bottom: 0;outline:none; }
#tabs li a { padding: 5px 7px 8px; display:block; background: #fff; border-top-left-radius:3px;
    border-top-right-radius:3px; text-decoration:none; outline:none; }

#tabs li a.inactive{ padding:5px 8px 8px; color:#666; background: #eee; outline:none;
   border-bottom: solid 1px #ccc;  }
#tabs li a:hover, #tabs li a.inactive:hover { color: #5685bc; outline:none; }
.tabContainer { clear:both; width:100%; text-align:left; }
.tabContainer h2 { margin-left: 15px;  margin-right: 15px;  margin-bottom: 10px;
  color: #5685bc; }
.tabContainer p { margin-left: 15px; margin-right: 15px;  margin-top: 10px;
  margin-bottom: 10px; line-height: 1.3; font-size: small; }
.tabContainer ul { margin-left: 25px; font-size: small; line-height: 1.4; list-style-type: disc; }
.tabContainer li { padding-bottom: 5px; margin-left: 5px;}


/*
 * Datatbles responsive
 * ------------------------------*/
 table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty{cursor:default !important}table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before{display:none !important}table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child,table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child{position:relative;padding-left:30px;cursor:pointer}table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{top:9px;left:4px;height:14px;width:14px;display:block;position:absolute;color:white;border:2px solid white;border-radius:14px;box-shadow:0 0 3px #444;box-sizing:content-box;text-align:center;text-indent:0 !important;font-family:'Courier New', Courier, monospace;line-height:14px;content:'+';background-color:#31b131}table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{content:'-';background-color:#d33333}table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child{padding-left:27px}table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before{top:5px;left:4px;height:14px;width:14px;border-radius:14px;line-height:14px;text-indent:3px}table.dataTable.dtr-column>tbody>tr>td.control,table.dataTable.dtr-column>tbody>tr>th.control{position:relative;cursor:pointer}table.dataTable.dtr-column>tbody>tr>td.control:before,table.dataTable.dtr-column>tbody>tr>th.control:before{top:50%;left:50%;height:16px;width:16px;margin-top:-10px;margin-left:-10px;display:block;position:absolute;color:white;border:2px solid white;border-radius:14px;box-shadow:0 0 3px #444;box-sizing:content-box;text-align:center;text-indent:0 !important;font-family:'Courier New', Courier, monospace;line-height:14px;content:'+';background-color:#31b131}table.dataTable.dtr-column>tbody>tr.parent td.control:before,table.dataTable.dtr-column>tbody>tr.parent th.control:before{content:'-';background-color:#d33333}table.dataTable>tbody>tr.child{padding:0.5em 1em}table.dataTable>tbody>tr.child:hover{background:transparent !important}table.dataTable>tbody>tr.child ul.dtr-details{display:inline-block;list-style-type:none;margin:0;padding:0}table.dataTable>tbody>tr.child ul.dtr-details>li{border-bottom:1px solid #efefef;padding:0.5em 0}table.dataTable>tbody>tr.child ul.dtr-details>li:first-child{padding-top:0}table.dataTable>tbody>tr.child ul.dtr-details>li:last-child{border-bottom:none}table.dataTable>tbody>tr.child span.dtr-title{display:inline-block;min-width:75px;font-weight:bold}div.dtr-modal{position:fixed;box-sizing:border-box;top:0;left:0;height:100%;width:100%;z-index:100;padding:10em 1em}div.dtr-modal div.dtr-modal-display{position:absolute;top:0;left:0;bottom:0;right:0;width:50%;height:50%;overflow:auto;margin:auto;z-index:102;overflow:auto;background-color:#f5f5f7;border:1px solid black;border-radius:0.5em;box-shadow:0 12px 30px rgba(0,0,0,0.6)}div.dtr-modal div.dtr-modal-content{position:relative;padding:1em}
 div.dtr-modal div.dtr-modal-close {position:absolute;top:6px;right:6px;width:22px;height:22px;border:1px solid #eaeaea;background-color:#f9f9f9;text-align:center;border-radius:3px;cursor:pointer;z-index:12}
 div.dtr-modal div.dtr-modal-close:hover{background-color:#eaeaea}
 div.dtr-modal div.dtr-modal-background{position:fixed;top:0;left:0;right:0;bottom:0;z-index:101;background:rgba(0,0,0,0.6)}

 @media screen and (max-width: 767px){
   div.dtr-modal div.dtr-modal-display { width:95% }
   #tableUI_paginate, .dataTables_paginate { margin-top: 20px; }
   table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child { padding-left: 10px; }
   table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before { left: 25px; height: 20px; width: 20px; line-height: 20px; background-color: #ee2238; }
   .voirMarche, table .is-info { margin-top: 35px;}
   .modal-card { margin-top: 30px; }
 }
